
.logo{

    
}

.login{
    margin-left: 80%;
}

.aboutus{
    margin-left: 10%;
}
.aboutus2{
    margin-left: 50%;
}

.footer{
    margin-top: 32%;
    margin-left: 50%;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7; 
}


.login-container {
  background: #ffffff; 
  padding: 40px; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}


.input-group input {
  background-color: #d6cfcf; 
  border: none;
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input-group label {
  text-transform: lowercase; 
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.btn {
  background-color: #d6d6d6;
  color: #333;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.register-link a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: 15px;
}

* {
  background-color: transparent;
  color: black;
}
